-
  util.expected = `
    562,407
    4,294,967,295
    562407
    five thousand five hundred
    one point three three three three
    two million six hundred and fifty-four thousand five hundred and sixty-four

    20th
    21st
    
    twentieth
    twenty-first
    one hundredth
    twenty-ninth
    one millionth
    zeroth

    1,562.407
    0.407
    -0.76
    1.2m

    April 14, 1980
    February 8, 2013
    February

    2018
    bla 562,407 bla
  `;


t
  //- numbers
  l #[+value(562407)]
  l #[+value(4294967295)]
  l #[+value(562407, {'AS_IS': true})]
  l #[+value(5500, {'TEXTUAL':true })]
  l #[+value(1.3333, {'TEXTUAL':true })]
  l #[+value(2654564, {'TEXTUAL':true })]
  l #[+value(20, {'ORDINAL_NUMBER':true })]
  l #[+value(21, {'ORDINAL_NUMBER':true })]
  
  l #[+value(20, {'ORDINAL_TEXTUAL':true })]
  l #[+value(21, {'ORDINAL_TEXTUAL':true })]
  l #[+value(100, {'ORDINAL_TEXTUAL':true })]
  l #[+value(29, {'ORDINAL_TEXTUAL':true })]
  l #[+value(1000000, {'ORDINAL_TEXTUAL':true })]
  l #[+value(0, {'ORDINAL_TEXTUAL':true })]

  l #[+value(1562.407)]
  l #[+value(0.407)]
  -
    var n = util.numeral('-76%').value();
  l #[+value(n)]
  l #[+value(1230974, {'FORMAT': '0.0a'})]

  //- dates
  - var d = new Date('1980-04-14');
  l #[+value(d, {dateFormat:'LL'})]
  -
    var d2 = util.moment("2013W065").toDate(); // Basic (short) week, weekday
  l #[+value(d2, {dateFormat:'LL'})]
  l #[+value( new Date(2018,01,1) , {dateFormat:'MMMM'})]

  //- misc
  l
    itemz {}
      item
        | #[+value( new Date(2018,01,1) , {dateFormat:'YYYY'})]

  l
    | bla #[+value(562407)] bla

