<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RosaeNLG in browser compilation and rendering demo</title>
    <meta charset="utf-8">

    <script src="rosaenlg_tiny_$lang$_$version$_comp.js"></script>
    
    <script src="codemirror.js"></script>
    <link rel="stylesheet" href="codemirror.css">

    <script src="vue-codemirror.js"></script>

    <script src="pug.js"></script>
    <script src="javascript.js"></script>
    <script>
      const language = '$lang$';
      const rosaenlg = rosaenlg_$lang$;
    </script>
    <script src="app.min.js"></script>

    <link rel="stylesheet" href="app.css">

    <!--script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script-->
    <script src="vue.min.js"></script>
    
  </head>
  <body>
    <div id="app">
      <div class="column left">
        <span class="maintitles">Choose an example:</span>
        <select id="selectExample" v-model="exampleName">
          <option v-for="example in examples">{{ example[0] }}</option>
        </select>
        <span class="maintitles">and/or edit your RosaeNLG template:</span><br/>
        <div class="block">
          <codemirror v-model="code" :options="cmOption"></codemirror>
        </div>
        <button v-on:click="compileRender()">Compile and render</button>          
        <button v-on:click="save()">Save</button>
        <button v-on:click="package()">Package</button>
        <span id="langlinks">
          <a href="demo_en_US.html">English</a>
          <a href="demo_fr_FR.html">French</a>
          <a href="demo_de_DE.html">German</a>
          <a href="demo_it_IT.html">Italian</a>
          <a href="demo_OTHER.html">Other</a>
        </span>
      </div>
      <div class="column right">
        <span class="maintitles">Rendered texts: </span><span id="logs">{{ logs }}</span>
        <button v-on:click="changeRenderingMode()">{{ renderingButtonLabel }}</button>
        <div class="block">
          <div id="errors" class="pre">{{ errors }}</div>
          <div v-bind:style="{display: renderedPreVisibility}"  class="renderedPre">{{ rendered }}</div>
          <div v-bind:style="{display: renderedHtmlVisibility}" class="renderedHtml" v-html="rendered"></div>
        </div>
      </div>
    </div>
  </body>
</html>
